{#
/**
 * @file
 * Zurb Foundations's theme implementation to display a single page.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.meta_header
 * - page.header
 * - page.help
 * - page.highlighted
 * - page.content
 * - page.sidebar_first
 * - page.sidebar_second
 * - page.footer_first
 * - page.footer_middle
 * - page.footer_last
 *
 * @see template_preprocess_page()
 * @see bartik_preprocess_page()
 * @see html.html.twig
 */
#}

<div class="off-canvas-wrapper">
  <div class="inner-wrap off-canvas-wrapper-inner" id="inner-wrap" data-off-canvas-wrapper>
    <div class="off-canvas-content" data-off-canvas-content>
    <nav id="returnToNCInav"><a target="_new" tabindex="1" id="returnToNCIlink--home" href="https://datacommons.cancer.gov/?cid=crdcnav_hp_pdc.cancer.gov">NCI Cancer Research Data Commons</a></nav>
      {% if page.meta_header %}
        {% if meta_header_grid %}
          <div class="row">
            <div class="large-12 columns">
        {% endif %}
        {{ page.meta_header }}
        {% if meta_header_grid %}
            </div>
          </div>
        {% endif %}
      {% endif %}
      <header class="header-main" role="banner" aria-label="{{ 'Site header'|t }}">
        {% if page.header %}
          <div class="grid-container">
            <div class="site-logo-header">
              <a href="/" aria-label="Return to CCDH home">
                <img src="/sites/default/files/CCDH Logo COLOR.svg" alt="National Cancer Institute Center for Cancer Data Harmonization" />
              </a>
              <div class="header-search">
                <form action="/search/node" class="searchForm" method="get">
                  <div class="menu search-bar-form">
                    <input id="search-site-main" type="search" name="keys" placeholder="Search" aria-label="search" />
                    <button type="submit" class="search-button">
                      <i class="fas fa-search" aria-hidden="true"></i>
                      <span class="show-for-sr">Submit</span>
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div>
            {{ page.header }}
          </div>
        {% endif %}
      </header>
      <div class="row">
        {% if show_account_info %}
          <div class="{{ site_slogan ? 'large-6' : 'large-4 columns large-offset-8' }} columns hide-for-small">
            <p>
              {% if logged_in %}
                <a href="{{ path('user.page') }}">{{ 'My Account'|t }}</a>
                <a href="{{ path('user.logout') }}">{{ 'Logout'|t }}</a>
              {% else %}
                <a href="{{ path('user.login') }}">{{ 'Login'|t }}</a>
                <a href="{{ path('user.register') }}">{{ 'Sign Up'|t }}</a>
              {% endif %}
            </p>
          </div>
        {% endif %}
        {% if site_slogan %}
          <div class="large-6 columns hide-for-small">
            {{ site_slogan }}
          </div>
        {% endif %}
        {% if show_account_info %}
          <div class="show-for-small">
            <div class="six mobile-two columns">
              <p>
                <a href="{{ path('user.login') }}" class="radius button">{{ 'Login'|t }}</a>
              </p>
            </div>
            <div class="six mobile-two columns">
              <p>
                <a href="{{ path('user.register') }}" class="radius success button">{{ 'Sign Up'|t }}</a>
              </p>
            </div>
          </div>
        {% endif %}
      </div>

      {% if messages and not zurb_foundation_messages_modal %}
      <div class="l-messages row">
        <div class="large-12 columns">
          {{ messages }}
        </div>
      </div>
      {% endif %}

      {% if page.help %}
      <div class="l-help row">
        <div class="large-12 columns">
          {{ page.help }}
        </div>
      </div>
      {% endif %}

      <div class="row">
        <main id="main" class="{{ main_grid }} columns" role="main">
          {% if page.highlighted %}
            {% apply spaceless %}
              {{ page.highlighted }}
            {% endapply %}
          {% endif %}
          <a id="main-content"></a>
          {% if breadcrumb %} {{ breadcrumb }} {% endif %}
          <section>
            {{ page.content }}
          </section>
        </main>
        {% if page.sidebar_first %}
          <div id="sidebar-first" class="{{ sidebar_first_grid }} columns sidebar ">
            {{ page.sidebar_first }}
          </div>
        {% endif %}
        {% if page.sidebar_second %}
          <div id="sidebar-second" class="{{ sidebar_sec_grid }} columns sidebar">
            {{ page.sidebar_second }}
          </div>
        {% endif %}
      </div>
      <footer>
        <div class="row footer-internal-links">
          <div class="columns small-12 large-8">
            <div class="nci-wordmark"></div>
          </div>
          <div class="columns small-12 large-4 more-info">
            <h3>More Information</h3>
            <!--List of links -->
            <a href="https://www.cancer.gov/policies/accessibility">Accessibility</a>
            <a href="https://www.cancer.gov/policies/foia">FOIA</a>
            <a href="https://www.cancer.gov/policies">Policies</a>      
          </div>
        </div>

        <div class="row footer-external-links">
          <div class="columns org-nav">
            <!--List of links -->
            <a href="https://www.hhs.gov">U.S. Department of Health and Human Services</a>
            <a href="https://www.nih.gov">National Institutes of Health</a>
            <a href="https://www.cancer.gov">National Cancer Institute</a>
            <a href="https://www.usa.gov">USA.gov</a>
          </div>
        </div>

        <div class="row">
          <div class="columns tagline">
            NIH &hellip; Turning Discovery Into Health<sup>&reg;</sup>
          </div>
        </div>
      </footer>
      {% if block_copyright_show %}
        <div class="bottom-bar callout secondary large-12 columns">
          {% if not block_copyright_custom_text %}
            <p>&copy; {{ "now"|date('Y') }} {{ site_name }} {{ 'All rights reserved.'|t }}</p>
          {% else %}
            {{ block_copyright }}
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>
</div>
